.menuList {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  li {
    padding: 2rem;
    background-color: hsl(206, 64%, 43%);
    border: 1px solid white;
    cursor: pointer;
    &:hover {
      background-color: hsl(206, 64%, 53%);
    }
    a {
      color: white;
      text-decoration: none;
    }
  }
}
